/* Fondo azul y centrado total */
body {
    margin: 0;
    height: 100vh;
    background-color: #4400fd; /* azul tipo Bootstrap */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor externo (solo para centrar) */
.contenedorLogin {
    width: 600px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* Caja blanca del login */

.texTitulo{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300px;
    color: rgb(94, 94, 94);
}
.loginBox {
    display:inline-table;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px; /* 🔥 límite de 300px */
    box-shadow: 0 4px 15px rgba(3, 5, 29, 0.342);
}

.form-control {
    width: 250px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    }

.form-label {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(82, 81, 81);
    
}

/*Boton de ingreso*/
.btn-primary{
    width: 100%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Links */

.links {
    text-align: center;
    margin-top: 15px;
    
}

#linkHome {
    display:inline-block;
    text-decoration: none;
    color: #4c4c4d;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

.links a {
    display: inline-block;
    text-decoration: none;
    color: #0d6efd;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.links a:hover {
    text-decoration: underline;
}